<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="balanceMapper">
   
   
   <!-- 게시판 글 작성 -->
   <insert id="insert">
	   INSERT INTO balancegame( user_id, board_id, title, information)
	                 VALUES(    #{user_id}, balancegame_SEQ.NEXTVAL, #{title}, #{information})
   
   </insert>
   
</mapper>